# Veja https://help.github.com/articles/ignoring-files/ para mais informações sobre como ignorar arquivos.

# dependências
/node_modules
node_modules/
/.pnp
.pnp.*
/yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testes
/coverage

# next.js
/.next/
/out/

# produção
/build

# arquivos diversos
.DS_Store
*.pem

# logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos de ambiente (pode optar por comitar se necessário)
.env*

# vercel
.vercel

# arquivos TypeScript
*.tsbuildinfo
next-env.d.ts

# Streams alternativos de dados no Windows (opcional)
Zone.Identifier

# pasta dist (artefatos de build, não devem ser comitados)
dist/

# pasta serverless (arquivos temporários e de configuração do Serverless Framework)
.serverless/
